/node_modules/
#/build/
/.idea/
/pointclouds/
/notebooks/.ipynb_checkpoints/
/py/cellData/
/py/archived/
/py/61515.json
/py/61523.json
/py/61569.json
/py/cell_centroids.json
/py/cell_gene_counts.npy
/py/notebook/cell_labels.npy
/data/pciSeq/cellBoundaries.tsv
/data/pciSeq/cellData.tsv
/data/cellData.tsv
/py/coord_x.json
/py/coord_y.json
/py/coord_z.json
/py/coords_xyz_61569.json
/py/coords_xyz_61569_small.json
/py/coords_xyz_61569_small_df.json
/py/deleteMe.tsv
/py/notebook/dist.npy
/gaussian_process.ipynb
/.ipynb_checkpoints/gaussian_process-checkpoint.ipynb
/py/gene_id_dict.json
/data/pciSeq/geneData.tsv
/data/geneData.tsv
/hs_err_pid5964.log
/index - Copy.html
/py/log.txt
/py/spots_min.csv
/data/Untitled.ipynb
/py/notebook/Untitled.ipynb
/py/Untitled.ipynb
/data/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/py/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/py/notebook/.ipynb_checkpoints/Untitled-checkpoint.ipynb
